{% extends 'base.html' %}
{% load static %}
{% block title %} Sale Bill No : {{ bill.billno }}{% endblock title %}
{% block content %}
  <div style="color: #ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;" class="text-primary">
    <strong>Sale Bill No : {{ bill.billno }}</strong>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form method="POST">
        {% csrf_token %}
        <div class="bg-white">
          <br>
          <div id="printArea" class="bg-white p-5">
            <div class="text-center text-secondary">
              <h1>Company</h1>
              <h3 style="text-decoration: underline;">DEALERS IN : Household Electronic Products</h3>
              <h5>P.O. Box : 1234, Kalimoni</h5>
              <h5>EMAIL : householdshop.kalimoni@gmail.com</h5>
              <h5><strong>Bill No : {{ bill.billno }}</strong></h5>
              <br>
            </div>
            <div class="row mr-3 ml-3">
              <div class="col-md-4">
                <h6>Name : <strong>{{ bill.name }}</strong></h6>
              </div>
              <div class="col-md-4">
                <h6>Date : <strong>{{ bill.time|date:"SHORT_DATE_FORMAT" }}</strong></h6>
              </div>
              <div class="col-md-4">
                <h6>Time : <strong>{{ bill.time|time:"H:i A e" }}</strong></h6>
              </div>
            </div>
            <table class="table mt-4">
              <thead>
                <th class="text-center">S/N</th>
                <th class="text-center">Item</th>
                <th class="text-center">Unit</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Amount</th>
              </thead>
              <tbody>
                {% for item in items %}
                <tr style="height: auto">
                  <td class="text-center">{{ forloop.counter }}</td>
                  <td class="">{{ item.stock.name }}</td>
                  <td class="text-center">{{ item.stock.unit }}.</td>
                  <td class="text-center">{{ item.quantity }}</td>
                  <td class="text-right">{{ item.perprice|floatformat:"2g" }}</td>
                  <td class="text-right">{{ item.totalprice|floatformat:"2g" }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="border"></div>
            <div class="row m-4">
              <div class="col-md-6 text-right">
                <h3>Total : </h3>
              </div>
              <div class="col-md-6 text-right">
                <h3>
                  Ksh. {{ aggregate_sum|floatformat:"2g" }}
                </h3>
              </div>
            </div>
            <div class="row justify-content-around m-4">
              <div class="col-md-3 text-center">
                Goods
              </div>
              <div class="col-md-3 text-center">
                VAT
              </div>
              <div class="col-md-3 text-center">
                Total
              </div>
            </div>
            <div class="row justify-content-around m-4 pb-4">
              <div class="col-md-3 text-center">
                <p><strong>{{ goods|floatformat:"2g" }}</strong></p>
              </div>
              <div class="col-md-3 text-center">
                <p><strong>{{ vat|floatformat:"2g" }}</strong></p>
              </div>
              <div class="col-md-3 text-center">
                <p><strong>{{ aggregate_sum|floatformat:"2g" }}</strong></p>
              </div>
            </div>
            <div class="row text-center mx-auto pb-3">
              <div class="col-md-10 mx-auto">
                <p>Goods Once Sold Will Not Be Accepted</p>
              </div>
              <div class="col-md-10 mx-auto">
                <span>THANK YOU, COME AGAIN!</span>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row justify-content-around">
          <a href="{% url 'sales-list' %}" class="btn btn-lg btn-outline-secondary">Go Back</a>
          <a href="mailto:{{ bill.email }}" class="btn btn-lg btn-outline-success">Mail Receipt</a>
          <button class="btn btn-lg btn-outline-primary" onclick="printpage('printArea')">&nbsp; &nbsp;Print&nbsp; &nbsp;</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    function printpage(divName) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
    }
  </script>
{% endblock %}
