{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
  <div style=" color: #ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;" class="text-primary">
    <strong>{{ title }}</strong>
  </div>
  <br />
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label class="text-secondary" for="{{ form.name.id_for_label }}">Name</label>
          {{ form.name }}
          {{ form.name.errors }}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="text-secondary" for="{{ form.unit.id_for_label }}">Unit</label>
          {{ form.unit }}
          {{ form.unit.errors }}
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="text-secondary" for="{{ form.brand.id_for_label }}">Brand</label>
          {{ form.brand }}
          {{ form.brand.errors }}
        </div>
      </div>
    </div>
    <br />
    <div class="row justify-content-around">
      <a href="{% url 'inventory' %}" class="btn btn-lg btn-secondary">Cancel</a>
      {% if title == "New Stock" %}
      <button type="reset" class="btn btn-lg btn-warning">Reset</button>
      {% endif %}
      {% if delete_btn %}
      <a href="{% url 'delete-stock' object.pk %}" class="btn btn-lg btn-danger">Delete</a>
      {% endif %}
      <button type="submit" class="btn btn-lg btn-success">&nbsp;{{ save_btn }}&nbsp;</button>
    </div>
  </form>
{% endblock content %}
